<div class="btns">
  <button
    class="btns__item"
    (click)="increase()">+1</button>
  <button
    class="btns__item"
    (click)="decrease()"
    [disabled]="cannotDecrease$ | async">-1</button>
  <button
    class="btns__item"
    (click)="reset()"
    [disabled]="cannotDecrease$ | async">=0</button>
</div>
<div class="counter">
  <p class="counter__content">{{ count$ | async }}</p>
</div>
<div class="updated" *ngIf="updatedAt$ | async">
  <p class="updated__content">Обновлялось:{{updatedAt$ | async | date: "HH:mm:ss dd/MM/yyyy"}}</p>
</div>
